<!DOCTYPE html>
<html>
<head>
  <title>AwesomeFormBootstrap</title>
  <%= stylesheet_link_tag    "awesome_form_bootstrap/application", media: "all" %>
  <%= javascript_include_tag "awesome_form_bootstrap/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
